<h1 align="center">All articles</h1>

<div align="center">
  <%= will_paginate %>
</div>

<div class="row">
  <div class="col-xs-3">
    <h3>Title</h3>
  </div>
  <div class="col-xs-5">
    <h3>Description</h3>
  </div>
  <div class="col-xs-3">
    <h3>Actions</h3>
  </div>
</div>

<% @articles.each do |article| %>
  <div class="row">
    <div class="col-xs-3">
      <%= link_to article.title, articles_path(article) %>
    </div>
    <div class="col-xs-5">
      <%= truncate(article.description, length: 150) %>
    </div>
    <div class="col-xs-3">
      <%= link_to "Edit this article", edit_article_path(article), class: "btn btn-xs btn-primary" %>
      <%= link_to "Delete this article", article_path(article), method: :delete,
                                data: {confirm: "Are you sure you want to delete this article?"},
                                class: "btn btn-xs btn-danger" %>
    </div>
  </div>
<% end %>

<div align="center">
  <%= will_paginate %>
</div>
